.Header {
  position: fixed;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
}

.Header a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 0 5px;
}
.Header a:hover {
  color: rgb(87, 87, 87);
}